body {
    background-color: lightgrey;
}

.label-bold {
    color: black;
    font-weight: bold;
    font-size: 15;
}

.label {
    font-weight: bold !important;
}

.jumbotron {
    background-color: rgb(97, 178, 167);
    color: white;
}

.input-group-form1 {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.input-group-form2 {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.display-form {
    margin: 10px;
}