body {
    background-color: lightgrey;
}

.label-bold {
    color: black;
    font-weight: bold;
    font-size: 15;
}

.label {
    font-weight: bold !important;
}

.jumbotron {
    background-color: rgb(97, 178, 167);
    color: white;
}

/* #searchForm{
    display: absolute;
    width: 50%;
    margin-left: 11%;
    margin-top: 70px;
}

.form-control:focus,
.btn:focus {
    border-color: none !important;
    box-shadow: none !important;
} */

.input-group-form {
    margin: 5px;
}

.display-form {
    margin: 0;
}